.hospital-card {
  background: white;

  border: 1px solid #f0cdd2;

  border-radius: 14px;

  overflow: hidden;

  transition: 0.3s;
}

.hospital-card:hover {
  transform: translateY(-5px);

  box-shadow:
    0 8px 20px
    rgba(217, 4, 41, 0.15);
}

.hospital-card-image {
  width: 100%;
  height: 180px;

  display: block;

  object-fit: cover;
}

.hospital-card-content {
  padding: 20px;
}

.hospital-card h3 {
  margin: 0 0 8px;

  color: #222;

  font-size: 19px;
}

.hospital-card p {
  color: #666;

  font-size: 14px;
}

.hospital-city {
  color: #d90429 !important;

  font-weight: bold;
}

.hospital-rating {
  color: #e5a400 !important;

  font-weight: bold;
}

.hospital-emergency,
.hospital-regular {
  display: inline-block;

  padding: 7px 10px;

  border-radius: 6px;

  font-size: 12px;

  font-weight: bold;
}

.hospital-emergency {
  background: #ffe6eb;

  color: #d90429;
}

.hospital-regular {
  background: #e7f7ed;

  color: #16803c;
}

.hospital-card h4 {
  margin-top: 20px;
}

.blood-groups {
  display: flex;

  flex-wrap: wrap;

  gap: 7px;
}

.blood-groups span {
  padding: 6px 10px;

  background: #ffe6eb;

  color: #d90429;

  border-radius: 6px;

  font-size: 12px;

  font-weight: bold;
}