.campaign-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.campaign-card:hover {
  transform: translateY(-4px);
}


.campaign-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}



.campaign-card-content {
  padding: 18px;
}

.campaign-card-content h3 {
  margin: 0 0 12px;
  color: #d62828;
  font-size: 20px;
}

.campaign-card-content p {
  margin: 8px 0;
  color: #555;
  font-size: 14px;
}



.campaign-location {
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 6px;
}



.campaign-card-content h4 {
  display: flex;
  align-items: center;
  margin: 18px 0 10px;
  color: #333;
}

.campaign-blood-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 15px;
}

.campaign-blood-groups span {
  padding: 5px 9px;
  background: #ffe5e5;
  color: #d62828;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}



.campaign-spots strong {
  color: #d62828;
}