/* hero section */

.find-blood-hero {
  min-height: 180px;
  padding: 60px 80px;
  background:#FFE5BF;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.hero-text h1 {
  font-size: 46px;
  margin-bottom: 15px;
  max-width: 650px;
}

.hero-text  p {
  font-size: 17px;
  line-height: 1.7;
  max-width: 600px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blood-icon{
    font-size: 100px;
    background-color: rgb(175, 161, 161);
    border-radius: 50%;
}
button{
    background-color:#f62440;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 0;
}
/* search */

.search-container {
  width: 84%;
  max-width: 1100px;
  margin: -45px auto 0;
  position: relative;
  z-index: 2;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.search-header {
  margin-bottom: 25px;
}

.search-header h2 {
  font-size: 25px;
  color: #222;
  margin-bottom: 5px;
}

.search-header p {
  opacity: 0.6;
}

.search-box {
  display: flex;
  max-width: 1000px;
  gap: 30px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.input-group label {
  font-weight: 600;
}

.input-group select,
.input-group input {
  width: 100%;
  padding: 14px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  background: #fff;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #c1121f;
}
